 
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    cursor: pointer;
    border-bottom: 1px solid rgba(116, 113, 113, 0.838);
    position:sticky;
    top:0;
    z-index: 10;
}

.searchbar{
    display:flex;
    align-items: center;
    cursor: pointer;
}

.airbnbimg{
    width:150px;
    height:100px;
    margin-left:20px;
    cursor: pointer;
}

.searchbar{
    display: flex;
    align-items: center;
    
}

.searchoption button{
    font-size:medium;
    cursor: pointer;
    border:none;
    
}

.anywhere{
    padding:10px 20px;
    margin-left: -5px;
    background-color: white;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    cursor: pointer;
    
}

.anyweek{
    padding:10px 20px;
    margin-left: -10px;
    background-color: white;
    cursor: pointer;
    
}

.searchicon{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.searchicon button{
    font-size:medium;
    border:none;
    cursor: pointer;
    border-color: brown;
}

.addguest{
    padding:10px 70px 10px 20px;
    margin-left: -10px;
    background-color: white;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    cursor: pointer;
    
}

.search{
    position: absolute;
    right:0;
    padding:10px;
    border:1px solid red;
    border-radius: 50%;
    background-color: red;
    color:white;
    margin-right:10px;
    cursor: pointer;
}

.registerpage{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    cursor: pointer;
}

.profile{
    width:30px;
    height:30px;
    cursor: pointer;
}

.airbnbhome{
    background-color: #b1b3b500;;
}

.airbnbhome:hover{
    background-color: white;
}

.airbnbhome{
    padding:10px 20px;
    border-radius: 24px;
    border:none;
    font-weight: 500;
    font-size: medium;

}

.globalimg{
    padding:10px;
    border-radius: 50px;
    border:none;
}

.globalimg{
    background-color: #b1b3b500;;
}

.globalimg:hover{
    background-color: white;
}

.airbnbdetails{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
    margin-right: 50px;
}

.registerpage{
    padding:5px 10px;
    border-radius: 24px;
    border:none;
    background-color: white;
    position: relative;
}
.registerpage .menu{
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none; 
    position: absolute;
    top:40px;
    right:0;
    background-color: rgb(245, 240, 240);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: rgba(11, 1, 1, 0.806);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  .registerpage:hover .dropdown-content{
    display: block;
    z-index: 11;
}

.dropdown-content a:hover {
    background-color: #f2e7e7b1;
}

.facility-scroll{
    position:sticky;
    top:100px;
    z-index: 1;
    background-color: white;
}

.facility-container{
    text-align: center;
    display:flex;
    gap:50px;
    justify-content: space-between;
    margin:30px;
    overflow-x: scroll;
    width: 85vw;
}

.textimg:hover {
    text-decoration: underline;
}

.scrollimages{
    height:25px;
    width:25px;
}

.textimg{
    font-size:medium;
    width: max-content;
}

.facility-scroll{
    display:flex;
    justify-content:space-evenly;
}

.facilityfilterbutton{
    margin:40px 50px;
    padding:15px 50px;
    width:80px;
    display:flex;
    justify-content:space-evenly;
    gap:10px;
    background-color:white;
    border:1px solid gray;
    border-radius:14px;
    font-size:medium;
    align-items:center;
}

.totalpricedetails{
    display:flex;
    border:1px solid black;
    width:50px;
    height:50px;
    justify-content: space-between;
    border-radius: 14px;
    padding:5px 10px;
    width:max-content;
    gap:10px;
    align-items: center;
    margin:auto;
    
}
/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #02080e;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  /* .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  } */ 

  .switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input{
    opacity: 0;
    width:0;
    height: 0;
}

.slider{
    position:absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before{
    position:absolute;
    content:"";
    height: 26px;
    width:26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider{
    background-color: #141515d2;
}

input:focus + .slider{
    box-shadow: 0 0 1px #020a107a;
}

 input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
 }

 .slider.round{
    border-radius: 34px;
 }

 .slider.round:before{
    border-radius:50%;
}



  .taxdetails{
    display:flex;
    justify-content: space-between;
    gap:60px;
    padding:10px;
    align-items: center;
    
  }

  .displayprice{
    border-right: 1px solid rgb(1, 11, 1);
    padding-right: 30px;
  }

  .allfees{
    padding-right:70px;
  }

  .staycard{
    margin:30px;
    line-height: 24px;
    display: flex;
  }

 .container{
    width:270px;
    height:350px;
    border:1px solid black;
    position: relative;
    border-radius: 24px;
    padding:10px;
    border: none;
}

.houseimg{
    width:100%;
    height:250px;
    border-radius: 14px;
    
}

.bi-heart-fill{
    position:absolute;
    top:30px;
    right:30px;
   stroke: white;
   
   stroke-width: 1px;
   
}

.flex{
    display:flex;
   align-items: center;
   justify-content: space-between;
   
   font-family: Arial, Helvetica, sans-serif;
   
}

.price{
    margin-top: 5px;
}


